<div class="center">
  <a href="/img/distant-fixes-rise-of-house-telvanni.png"><img src="/img/distant-fixes-rise-of-house-telvanni.png" title="Distant Fixes: Rise of House Telvanni" /></a>
  <p style="font-size: 1.4em;" class="bold">This mod requires OpenMW 0.47.0 or newer!</p>
</div>
<p>Prevents distant things from popping out and in at various points in the story.</p>
<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above</li>
  <li>Extract the contents to a location of your choosing, examples below:
    <pre><code># Windows
C:\games\OpenMWMods\DistantFixes\distant-fixes-rise-of-house-telvanni

# Linux
/home/username/games/OpenMWMods/DistantFixes/distant-fixes-rise-of-house-telvanni

# macOS
/Users/username/games/OpenMWMods/DistantFixes/distant-fixes-rise-of-house-telvanni</code></pre>
  </li>
  <li>Add the appropriate data path to your <code>openmw.cfg</code> file, for example:
    <pre><code>data="C:\games\OpenMWMods\DistantFixes\distant-fixes-rise-of-house-telvanni"</code></pre>
  </li>
  <li>Enable the mod plugin via OpenMW-Launcher (<a href="https://www.youtube.com/watch?v=xzq_ksVuRgc">video</a>), or add this to <code>openmw.cfg</code> (<a href="https://openmw.readthedocs.io/en/latest/reference/modding/mod-install.html#install">official OpenMW documentation</a>):
    <pre><code>content=DistantFixesRiseOfHouseTelvanni.esp
content=DistantFixesRiseOfHouseTelvanniUL.esp</code></pre>
  </li>
  <li>You should load this plugin right after <code>ROHT_2_0_8.ESP</code> if you're using that, otherwise it can go anywhere in your load order.</li>
  <li>The optional UL add-on plugin should be loaded after <code>UL_3.5_RoHT_1.52_Add-on.esp</code>.</li>
</ol>
